.banner {
    .title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;
        h2 {
            font-size: 3.5rem;
            color: #2f3433;
            // font-family: 'Roboto' !important;
            font-family: "DM Serif Text" !important;
        }
    }
}
