.pilihan {
    background: linear-gradient(to bottom, #fafafa, white);
    min-height: auto;
    // .buttonx {
    //     padding: 8px;
    //     background: rgba(#808e8a, 0.5);
    //     color: #2f3433;
    //     // color: #0a4e5f;
    //     // color: black;
    //     text-align: center;
    //     margin-bottom: 16px;
    //     cursor: pointer;
    //     font-size: 2.5rem;
    //     text-transform: uppercase;
    //     font-weight: 900;
    //     font-family: "Roboto" !important;
    //     transition: 0.3s;
    //     @media screen and (max-width: 768px) {
    //         font-size: 1rem;
    //     }
    //     &:hover {
    //         background: rgba(#808e8a, 0.3);
    //     }
    //     // border-radius: 16px;
    // }

    .loading {
        display: none;
    }
    .bg-category {
        // background: rgba($color: #021934, $alpha: 0.8) !important;
    }
    .gabung {
        margin-bottom: 8px;
    }
    .open {
        display: block;
        animation: showup 0.8s ease-in-out;
    }
    @keyframes showup {
        0% {
            opacity: 0;
        }
        30% {
            opacity: 0.1;
        }
        50% {
            opacity: 0.2;
        }
        70% {
            opacity: 0.6;
        }
        100% {
            opacity: 1;
        }
    }
    .refund {
        padding: 32px 0;
    }
    .category-click {
        display: block;
        margin: 0 auto;
        position: relative;
        // z-index: 99;
        text-align: center;
        @media screen and (max-width: 766px) {
            // margin-left: 150px;
        }
        .category-airline {
            // border: 1px solid;
            cursor: pointer;
            display: inline-block;
            width: 30%;
            // background: #1b4c79;
            text-align: center;
            font-weight: bold;
            // height: 150px;
            // border-radius: 50%;
            vertical-align: middle;
            margin: 8px;
            padding: 8px;
            // box-shadow: 0 3px 6px #bbb;
            transition: 0.3s;
            .image {
                margin: 0 auto;
                text-align: center;
                width: 100px;
                height: 100px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .name {
                // background: #267a47;
                // color: #70f2a3;
                // margin-top: 4px;
                // border-radius: 8px;
                // box-shadow: 0 3px 6px #333;
                background: #7a2626;
                color: #fafafa;
                font-size: 16px;
                margin-top: 4px;
                // border-radius: 8px;
                box-shadow: 0 3px 6px #fafafa;
            }
            // &:hover {
            //     background: rgba(2, 25, 52, 0.8);
            // }
            i {
                @media screen and (max-width: 766px) {
                    display: none;
                }
            }
            @media screen and (max-width: 766px) {
                width: 32%;
                text-align: center;
                margin: 0;
                padding: 0;
                height: auto;
            }
            .airline-name {
            }
        }
    }

    .closer {
        cursor: pointer;
        text-align: center;
        width: fit-content;
        /* background: azure; */
        margin: 16px auto;
        border-radius: 16px;
        padding: 2px 8px;
        transition: 0.2s;
        box-shadow: #646464 2px 2px 0 0;
        /* outline: black; */
        background: rgba(255, 255, 255, 0.8);
        border: 2px solid #646464;
        &:hover {
            background: rgba(255, 255, 255, 0.2);
        }
    }
    .twox {
        display: none;
    }
    .airline-content {
        display: none;
        .nav {
            display: block;
            li {
                display: inline-block;
            }
        }
        h3 {
            color: #2f3433;
            font-family: "DM Serif Text" !important;
            font-size: 2.5rem;
        }

        .hasil {
            display: block;
            margin: 0 auto;
            display: block;
            text-align: center;
            .fotonya {
                .suara {
                    .jum {
                        font-size: 2rem;
                        font-weight: bold;
                        @media screen and (max-width: 766px) {
                            font-size: 1rem;
                        }
                        @media screen and (max-width: 400px) {
                            font-size: 0.8rem;
                        }
                    }
                    .small {
                        font-size: 1rem;
                        font-weight: bold;
                        @media screen and (max-width: 768px) {
                            font-size: 0.7rem;
                            font-weight: normal;
                        }
                        // font
                    }
                }
                .imaged {
                    width: 100%;
                    height: 200px;
                    // border: 2px solid;
                    border-radius: 16px;
                    @media screen and (max-width: 768px) {
                        height: 120px;
                    }
                    img {
                        border-radius: 14px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                display: inline-block;
                width: 32%;
                // border: 2px solid;
                // height: 120px;
            }
        }
        .provinsi {
            display: block;
            //titip: #d69e5e
            h4 {
                font-family: "Montserrat", sans-serif !important;
            }
            &__name {
                display: inline-block;
                padding: 4px 8px;
                margin: 8px;
                cursor: pointer;
                border-radius: 8px;
                text-align: center;
                text-transform: uppercase;
                // background: white;
                border-color: transparent;
                background: #2f3433;
                transition: 0.3s;
                color: white;
                &:focus,
                &:hover {
                    background: white;
                    color: #2f3433;
                    border-color: #2f3433;
                }
                @media screen and (max-width: 768px) {
                    margin: 4px;
                    font-size: 14px;
                }
            }
        }
        .kotak-peta {
            width: 100%;
            height: 360px;
            // border: 1px solid;
            margin-bottom: 16px;
            position: relative;
            overflow: hidden;

            @keyframes kelap {
                0%,
                100% {
                    filter: grayscale(0);
                }
                50% {
                    filter: grayscale(0.8);
                }
            }
            .test-img {
                filter: grayscale(0);
                animation: kelap 1s linear infinite;
                transform: scale(1.4);
            }
            .datax {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
                background: rgba(white, 0.85);
                padding: 8px;
                border-radius: 16px;
                text-align: center;
                &.jambi {
                    top: 24%;
                }
                &.lampung {
                    top: 40%;
                }
                &.kepri {
                    top: 60%;
                }
                &.kali {
                    top: 75%;
                }
                @media screen and (max-width: 768px) {
                    width: 75%;
                    // padding: 4px;
                }
                .cek {
                    display: block;
                    ol {
                        text-align: left;
                        column-count: 2;
                        li {
                            margin-bottom: 8px;
                            .partai {
                                width: 40px;
                                display: inline-block;
                                height: 40px;
                                vertical-align: middle;
                                @media screen and (max-width: 768px) {
                                    width: 30px;
                                    height: 30px;
                                }
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                }
                            }

                            .presentase {
                                display: inline-block;
                                vertical-align: middle;
                                font-size: 0.8rem;
                                font-weight: bold;
                                @media screen and (max-width: 768px) {
                                    font-size: 0.7rem;
                                }
                            }
                        }
                    }
                }
                &-val {
                    display: inline-block;
                    width: 45%;
                    font-weight: bold;
                    font-size: 16px;

                    @media screen and (max-width: 768px) {
                        // font-size: 9px;
                        // width: 20%;
                        font-size: 14px;
                    }
                }
            }
            .image {
                width: 100%;
                height: 100%;
                position: absolute;
                transform: scale(1.35);
                @media screen and (max-width: 768px) {
                    transform: scale(2.5);
                }
                &.sumatera {
                    left: 30%;
                    @media screen and(max-width:768px) {
                        left: 80%;
                    }
                }
                &.jawa {
                    left: 25%;
                    top: -25%;
                    transform: scale(2);
                    @media screen and (max-width: 768px) {
                        left: 25%;
                        top: -25%;
                        transform: scale(2.5);
                    }
                }
                &.bali-nusra {
                    // left: 25%;
                    top: -20%;
                    transform: scale(2);
                    @media screen and (max-width: 768px) {
                        // left: 25%;
                        top: -25%;
                        transform: scale(3);
                    }
                }
                &.kalimantan {
                    left: 0;
                }
                &.maluku {
                    left: -32%;
                    transform: scale(1.6);
                    @media screen and (max-width: 768px) {
                        left: -50%;
                        transform: scale(2.5);
                    }
                }
                &.papua {
                    left: -30%;
                    // transform: scale(2.6);
                    @media screen and (max-width: 768px) {
                        left: -100%;
                        transform: scale(3);
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .canv {
                width: 100%;
                height: 100%;
                @media screen and (max-width: 768px) {
                    height: fit-content;
                }
                canvas {
                    // margin: 0 auto;
                    // text-align: center;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        &__icon {
            position: absolute;
            right: 0;
            top: 0;
            width: 100px;
            height: 100px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        // transition: 0.3s;
    }

    .table {
        td {
            vertical-align: middle;
            .img {
                width: 40px;
                height: 40px;
                display: inline-block;
                vertical-align: middle;
                // border-radius: 50%;
                img {
                    width: 100%;
                    // border-radius: 50%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &:last-child {
                color: #333;
                font-weight: bold;
            }
        }
    }

    .wraps {
        // display: block;
        .kontak {
            // display: inline-block;
            // width: 45%;
            margin-bottom: 16px;
            position: relative;
            text-align: center;
            .prov {
                position: absolute;
                right: 6px;
                background: rgba(#fbfd50, 0.8);
                top: 6px;
                font-size: 0.8rem;
                padding: 2px 8px;
                border-radius: 12px;
                font-size: 0.6rem;
                font-weight: bold;
            }
            .datac {
                position: absolute;
                bottom: 0;
                left: 0;
                // backdrop-filter: blur(8px);
                background: linear-gradient(45deg, rgba(#cfcfcf, 0.9), rgba(#fff, 0.9));
                right: 0;
                height: fit-content;
                color: black;
                padding: 8px;
                font-weight: bold;
                border-radius: 0 0 16px 16px;
                .nama {
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    @media screen and (max-width: 768px) {
                        font-size: 0.6rem;
                    }
                }
                .prov,
                .total {
                    font-size: 0.8rem;
                    font-weight: normal;
                    @media screen and (max-width: 768px) {
                        font-size: 0.6rem;
                    }
                }
            }
            .image {
                width: 100%;
                height: 280px;
                border-radius: 16px;
                @media screen and (max-width: 768px) {
                    height: 220px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 16px;
                    object-fit: cover;
                }
            }
        }
    }
}

.auto-mobile {
    @media screen and (max-width: 768px) {
        height: auto !important;
    }
}

.selected {
    background-color: white !important;
}

.closes {
    position: absolute;
    right: 0px;
    top: -20px;
    cursor: pointer;
    color: rgba(#333, 0.5);
    i {
        font-size: 1rem;
    }
}

// .pileg_daerah {
//     .jambi {
//         top: 27% !important;
//     }
// }

.info-klik {
    width: fit-content;
    background: rgba(220, 174, 128, 50%);
    padding: 0px 8px;
    border-radius: 8px;
    font-size: 14px;
}

.ul-cat {
    display: block;
    padding: 0;
   
    li {
        display: inline-block;
        margin-right: 8px;
        border: 2px solid;
        background: rgba(#ffddb7, 0.4);
        padding: 4px 16px;
        border-radius: 29px;
        cursor: pointer;
        font-weight: 700;
        &:hover {
            background: rgba(#ffddb7, 0.4);
        }
        &.activeMenu {
            // background: #ffddb7;
            background: white;
        }
    }
}

.col-red {
    color: #e73a3a !important;
}

::marker { 
    // color: red;
    font-size: .8rem;

}

.controller {
    margin-bottom: 16px;
    border-bottom: 1px dashed #bbb;
}
