.pilihan {
    min-height: auto;
    .buttonx {
        padding: 8px;
        background: white;
        text-align: center;
        cursor: pointer;
        font-size: 2rem;
        font-weight: bold;
        border-radius: 16px;

    }
}